<!DOCTYPE html>
<html>
<head>
  <title>Rewindr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  
  <%= stylesheet_link_tag "d3-bootstrap-plugins.min.css" %>
  <%= javascript_include_tag 'd3-bootstrap-plugins.js' %>
</head>
<body>

<%= yield %>

</body>
</html>
